div.project-info-preview-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

div.main-title {
    font-size: clamp(1rem, 3vw, 1.25rem);
    font-weight: 400;
    text-align: left;
    width: 100%;
    border-bottom: 0.5px solid black;
}

div.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    place-items: center;
    width: 100%;
    padding: 5px 25px;
}

div.content>div {
    width: 100%;
}

div.content>div:nth-of-type(2n) {
    align-self: center;
    justify-self: end;
    text-align: right;
}

div.name {
    font-weight: bold;
}

div.link {
    font-style: italic;
}

ul.knowledgeGained {
    list-style-type: disc !important;
    margin-left: 20px;
    list-style-type: disc;
    padding-left: 20px;
}